# Variables d'environnement Frontend

# URL de l'API backend
VITE_API_URL=http://localhost:3000/api

# Activer les mocks (true/false)
VITE_USE_MOCK=false

# Environnement (development, production)
VITE_ENV=development

